<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet" href="ruta/al/archivo.css">
</head>
<body class="login-bg">
    <div class="container text-center pt-5">
        <div class="registro-formulario">
            <h1>User Registration</h1>
            <form th:action="@{/process_register}" th:object="${user}" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail: </label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" required />
                </div>
                ...
            </form>
        </div>
    </div>
</body>
</html>

